<a href="https://colab.research.google.com/github/susier823/Demo_project_1/blob/main/2023/Exercises/Pseudocode_to_Pythoncode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task: Calculate and display the average of three exam scores 36.0, 23.0, and 45.0.

#### Pseudo code:

1. Read the first exam score from the user and store it in memory by name "score1"
2. Read the second exam score from the user and store it in memory by name "score2"
3. Read the third exam score from the user and store it in memory by name "score3"
4. Set a memory called "total" to the sum of "score1", "score2", and "score3"
5. Set a memory called "average" to the result of dividing "total" by 3
6. Display the value of memory named *average*

In [2]:
score1 = 36.0

Here "score1" is called a variable. "=" is an assignment operator. "36.0" is of type float.

Other available data types in python:
1. Integers: 22, 34, -23
2. Float: 10.23, 22.1
3. String: "Hello", "John",
4. List: [22, 32, 11], [22, 0.54, "Hello"],
5. Dictionary: {"John": 24, "Jane": 22, "James": 45 }

In [5]:
score2 = 23.0
score3 = 45.0

total = score1 + score2 + score3

"+" is the addition operator.

Other operators in python:

1. Assignment: "="
2. Arithemetic: "+" (add), "-" (subtract), "/" (divide), "%" (modulo, give the remainder), "******" (power), "+=" (increment)
3. Comparison: "==" (equals); ">" (greater than); ">=" (greater than or equal to); "!=" (not equal to)
4. Logical: "and", "or" and "not"

In [6]:
average = total / 3
print(average)

34.666666666666664

print() is a function. We will look into function later.

## Task: Find and display the maximum of three exam scores 36, 23, and 45.

1. Read the first exam score from the user and store it in memory by name "score1"
2. Read the second exam score from the user and store it in memory by name "score2"
3. Read the third exam score from the user and store it in memory by name "score3"
4. Set a memory called "maximum" to "score1"
5. If value of "score2" is greater than value of "maximum", set "maximum" to "score2"
5. If value of "score3" is greater than value of "maximum", set "maximum" to "score3"
6. Display the value of *maximum*

In [7]:
score1 = 36
score2 = 23
score3 = 45

maximum = score1

if score2 > maximum:
  maximum = score2

The syntax for the **if** control structure is

if condition:
  set of statements if condition is True
else:
  set of statements if condition is False

Note - There is colon (:) at the end of if condition and after else. The set of sentences must be indented.

In [8]:
if score3 > maximum:
  maximum = score3

print(maximum)

45

## Task: Count and display the total number of vowels (a,e,i,o,u) in user's name.

1. Read the user name and store it in memory by name "name"
2. Set a memory called "total vowels" to 0
3. Iterate thorugh each character in the value of "name" lowercase
  1. If the character is **a**, increment the value of "total vowels" by 1
  2. If the character is **e**, increment the value of "total vowels" by 1
  3. If the character is **i**, increment the value of "total vowels" by 1
  4. If the character is **o**, increment the value of "total vowels" by 1
  5. If the character is **u**, increment the value of "total vowels" by 1

4. Display the value of "total vowels"

NOTE: Variable name cannot start with special character or number, except '_'. Nor can variable name have spaces. Unlilke static programming languages like C, you can declare varibles as you write the code. Some words like print, str, list etc are reserved words and cannot be uesd as variable names.

If you want user to input name, you can use the input() function. Example is below.

In [11]:
name = input("Enter your name: ")
name

Enter your name: susie

'susie'

**NOTE**

The type of input() received is always a string. To get a number we need to typecast it with int() or float()

In [16]:
inp = float(input("Enter a number: "))
print(inp)
type(inp)

Enter a number: 20
20.0

float

In [ ]:
inp = float(input("Enter a number: "))
print(inp)
type(inp)

Back to task..

In [ ]:
a = 0
e = 0
i = 0
o = 0
u = 0

total_vowels = 0

We need the characters to be in lower case for easy comparison. We will use name.lower(). More discussion on this in Day 2.

In [17]:
name.lower()

'susie'

In [18]:
for character in name.lower():
  if character == "a":
    total_vowels = total_vowels + 1
  if character == "e":
    total_vowels = total_vowels + 1
  if character == "i":
    total_vowels = total_vowels + 1
  if character == "o":
    total_vowels = total_vowels + 1
  if character == "u":
    total_vowels =+ 1

print(total_vowels)

3

For iterating, you can use the "for" loop. You need to have a colon(:) at the end of for statement. The set of statements within a "for" loop should be indented.

The type of object to loop over must be a iterator. Following are some examples

In [ ]:
# iterator can be a list
print("List")
for i in [1,2,3]:
  print(i)

# iterator can be range(start,end,increment) end value is not included
print("\nRange")
for i in range(10,20,2):
  print(i)

The code for the above task can be simplified if we create a list with vowels and look for the character in the list.

In [19]:
vowel_list = ["a","e","i","o","u"]

total_vowels = 0

for character in name.lower():
  if character in vowel_list:
    total_vowels += 1

print(total_vowels)

3

To access values in the list, we can use subscripting. The index starts with 0. So, if you need "a" from the list, you will use `vowel_list[0]`. If  you need the third element, use `vowel_list[2]`

In [20]:
vowel_list[2]

'i'

List can be modified, to change an element use the assignment operator. For example, if you want the first element of the vowel_list to be "z", `vowel_list[0] = z`.

To add elements to a list, use the 'append' method. Elements can be removed by using 'pop' method and providing the index

In [23]:
vowel_list.append("z")
print(vowel_list)

['a', 'e', 'o', 'u', 'z', 'z']

In [24]:
vowel_list.pop(2)
print(vowel_list)

['a', 'e', 'u', 'z', 'z']

In [25]:
dir(vowel_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [27]:
vowel_list.__len__()

5

## Task: Count and display the occurrence of each vowel in user's name.

1. Read the user name and store it in memory by name "name"
2. Set a memory called "a" to 0
3. Set a memory called "e" to 0
4. Set a memory called "i" to 0
5. Set a memory called "o" to 0
6. Set a memory called "u" to 0
7. Iterate thorugh each character in the value of "name"
  1. If the character is **a**, increment the value of "a" by 1
  2. If the character is **e**, increment the value of "e" by 1
  3. If the character is **i**, increment the value of "i" by 1
  4. If the character is **o**, increment the value of "o" by 1
  5. If the character is **u**, increment the value of "u" by 1

8. Display the values of "a", "e", "i", "o", "u"

In [ ]:
name = input("Enter you name: ")

for character in name.lower():
  if character == "a":
    a = a + 1
  if character == "e":
    e = e + 1
  if character == "i":
    i = i + 1
  if character == "o":
    o = o + 1
  if character == "u":
    u =+ 1

print("a",a,"e",e,"i",i,"o",o,"u",u)

## Task: Count and display the occurrence of each letter in user's name.

1. Read the user name and store it in memory by name "name"
2. Create a dictionary memory with name "letters"
3. Iterate thorugh each character in the value of "name"
    1. if character in dictionary key, increment value; else create a new key and set value to 1

4. Display the value of dictionary "letters"

In [29]:
name = input("Enter you name: ")
letters = {}

for character in name.lower():
  if character in letters:
    letters[character] += 1
  else:
    letters[character] = 1

print(letters)

Enter you name: susannah
{'s': 2, 'u': 1, 'a': 2, 'n': 2, 'h': 1}

Here "a" is the key and 1 is the value. To get a value corresponding to a key, we can subscript the dictionary. For instance, we get the value of "j" by `letters["j"]`

##Task: Create a Shopping List

Pseudo code:

1. Create an empty list called "shopping_list"
3. Set a variable "add_more" and set it to "yes".
2. Start a loop to manage the shopping list if value of "add_more" is "yes":
  1. Prompt the user to input an item to add to the list and store it in a variable called "item"
  2. Append the "item" to the "shopping_list"
  3. Ask the user if they want to add another item, if not, set "add_more" to "no".
4. Print the "shopping_list" to display all the items

As we don't have a fixed number of items that user can input, we need to use the "while" loop.

In [ ]:
shopping_list = []

add_more = "yes"
while add_more == "yes":
  item = input("Enter item: ")
  shopping_list.append(item)
  add_more = input("Add more items? yes or no. ")

print(shopping_list)

# **Practice**

## Calculate the sum of two numbers

1. Read the first number from the user and store it in a variable called "num1"
2. Read the second number from the user and store it in a variable called "num2"
3. Set a variable called "sum" to the sum of "num1" and "num2"
4. Print the value of "sum"

In [33]:
# YOUR CODE
num1= int(input())
num2= int(input())
sum = num1 + num2
print(sum)

2
3
5

## Check if a number is even or odd


1. Read a number from the user and store it in a memory called "number"
2. If the remainder of "number" divided by 2 is 0, display "Even". Else display "Odd"

Hint: Use modulo operator "%"

In [43]:
from IPython.core import events
# YOUR CODE
number = float(input())
if number%2==0:
  number="even"
else:
  number = "odd"
print(number)

20
even

## Calculate tip and display total amount. User provides the bill amount and tip percentage

1. Read the total bill amount from the user and store it in a memory named "total_bill"
2. Read the percentage of tip the user wants to give and store it in  memory called "tip_percentage"
3. Set the "tip amount" memory value by multiplying the "total_bill" by the "tip_percentage" divided by 100
4. Set "total amount" by including the tip by adding the "total_bill" and the tip amount
5. Display the "tip amount" and the "total amount"

In [49]:
# YOUR CODE
total_bill = int(input())
tip_percentage = int(input())
tip_amount = (total_bill*tip_percentage)/100
total_amount = total_bill + tip_amount
print(tip_amount)
print(total_amount)

150
20
30.0
180.0

## Create a phonebook with three names and phone numbers provided by the user. Once the phonebook is created, display all entries.

1. Set an empty dictionary memory "phonebook"
2. Start a loop to add contacts to the phonebook
  1. Read a name from the user and store it in a memory called "name"
  2. Read a phone number from the user and store it in a memory called "phone"
  3. Add the "name" as a key and the "phone" as the corresponding value in the "phonebook" dictionary
3. Display the "phonebook" dictionary

In [50]:
# YOUR CODE
phonebook = {}

for i in range(3):
  name = input("Enter name:")
  number = input("Enter phone number")
  phonebook[name] = number

print(phonebook)

Enter name:Susie
Enter phone number394839489
Enter name:Ann
Enter phone number34345498
Enter name:Jessica
Enter phone number5834895743857
{'Susie': '394839489', 'Ann': '34345498', 'Jessica': '5834895743857'}

## Reverse a given string

1. Read a string from the user and store it in a variable called "input_string"
2. Set an empty string called "reversed_string"
3. Start a loop over the "input_string":
  1. Add each character to the start of the "reversed_string"
4. Print the value of "reversed_string"

Hint: Strings can be added. For example, `"a" + "b"` will give "ab" and `"b" + "a"` will give "ba".

In [52]:
# YOUR CODE
input_string = str(input("Enter a string:"))

reverse_string = ""
for character in input_string:
  reverse_string = character + reverse_string

print(reverse_string)

Enter a string:susie
eisus

## Calculate the sum of numbers from 1 to N

Pseudo code:

1. Read a number from the user and store it in a variable called "N"
2. Set a variable called "sum" to 0
3. Start a loop from 1 to "N" (inclusive):
4. Add the current loop value to the value of "sum" and store the result in "sum"
5. Print the value of "sum"

In [54]:
# YOUR CODE
N = int(input())

sum = 0
for i in range (N+1):
  sum = sum + 1

print(sum)

5
6

## Guessing Game with Limited Attempts

Pseudo code:

1. Generate a random number between 1 and 10 and store it in a variable called "secret_number"
2. Set a variable called "attempts" to 0
3. Start a while loop with the condition "attempts" is less than 5:
  1. Prompt the user to input their guess and store it in a variable called "guess"
  2. Increment the value of "attempts" by 1
  3. If the "guess" is equal to the "secret_number":
    1. Print "Congratulations! You guessed the number."
    2. Break out of the while loop (use keyword "break")
  4. Otherwise, if the "guess" is greater than the "secret_number":
      1.Print "Too high! Try again."
  5. Otherwise, if the "guess" is less than the "secret_number":
      1. Print "Too low! Try again."
4. Print "Game over. The secret number was X." (where X is the actual "secret_number")

Hint: To generate random number use the following code -

```
from random import randint
secret_number = randint(1, 10)
```

In [55]:
# YOUR CODE
from random import randint
secret_number = randint(1, 10)

attempts = 0

while attempts < 5:
  guess = int(input("Enter a number between 1 and 10: "))
  attempts += 1
  if guess == secret_number:
    print("Congratulations! You guessed the number.")
    break
  elif guess > secret_number:
    print("Too high! Try again.")
  else:
    print("Too low! Try again.")

print("Game over. The secret number was ", secret_number)

Enter a number between 1 and 10: 2
Too low! Try again.
Enter a number between 1 and 10: 3
Too low! Try again.
Enter a number between 1 and 10: 4
Too low! Try again.
Enter a number between 1 and 10: 5
Too low! Try again.
Enter a number between 1 and 10: 6
Congratulations! You guessed the number.
Game over. The secret number was  6